{% extends "layout.html" %}

{% block content %}
<div class="task-section-wrapper">
  <div class="task-zone" id="shortZone">
    <div class="urgent-filter">
  <label><input type="checkbox" id="urgentToggle"> Urgent seulement</label>
</div>

    <h3>Tâches à court terme (&lt; 30h)</h3>
    <div class="task-grid">
      {% for task in short_tasks %}
        <div class="task {{ 'late' if task.status == 'late' else 'ok' }}" data-task-id="{{ task.id }}"      data-frequency="{{ task.frequency_hours }}"
     data-remaining="{{ task.remaining }}">
          
          <div class="task-header">
            <strong>{{ task.name }}</strong>
            <button class="done-button" data-id="{{ task.id }}">✓</button>
          </div>
          <div class="task-info">
            Échéance : {{ task.next_due.strftime('%H:%M') }}<br>
            {% if task.remaining > 0 %}
              Dans {{ (task.remaining // 3600)|int }}h {{ ((task.remaining % 3600) // 60)|int }}min
            {% else %}
              En retard de {{ (-task.remaining // 3600)|int }}h {{ ((-task.remaining % 3600) // 60)|int }}min
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


  <div class="task-zone" id="longZone">
      <div class="task-filter">
        <label for="zoneFilter">Filtrer par zone :</label>
        <select id="zoneFilter">
          <option value="all">Toutes</option>
          <option value="S-">Salon</option>
          <option value="C-">Cuisine</option>
          <option value="T-">Toilettes</option>
          <option value="E-">Entrée</option>
          <option value="SDB-">Salle de bain</option>
          <option value="AUTRE">Autres</option>
        </select>
      </div>
    <h3>Tâches à long terme (≥ 30h)</h3>
    <div class="task-grid">
      {% for task in long_tasks %}
        <div class="task {{ 'late' if task.status == 'late' else 'ok' }}" 
     data-task-id="{{ task.id }}"
     data-frequency="{{ task.frequency_hours }}"
     data-remaining="{{ task.remaining }}"
     data-zone="{% if task.name.startswith('SDB-') %}SDB-{% elif task.name.startswith('S-') %}S-{% elif task.name.startswith('C-') %}C-{% elif task.name.startswith('T-') %}T-{% elif task.name.startswith('E-') %}E-{% else %}AUTRE{% endif %}">

          <div class="task-header">
            <strong>{{ task.name }}</strong>
            <button class="done-button" data-id="{{ task.id }}">✓</button>
          </div>
          <div class="task-info">
            Échéance : {{ task.next_due.strftime('%H:%M') }}<br>
            {% if task.remaining > 0 %}
              Dans {{ (task.remaining // 3600)|int }}h {{ ((task.remaining % 3600) // 60)|int }}min
            {% else %}
              En retard de {{ (-task.remaining // 3600)|int }}h {{ ((-task.remaining % 3600) // 60)|int }}min
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
